@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif !important;
}
:root{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --grey2: #748a96;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    line-height: normal;
}
.contenedor{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation .active{
    width: 80px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
}
.navigation ul .brandname{
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li #configuracion{
    color: var(--white);
    cursor: pointer;
}
.navigation ul li:hover #configuracion,
.navigation ul li.hovered #configuracion{
    color: var(--blue);
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--blue);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}
.navigation ul li a .main-title{
    position: relative;
    display: flex;
    padding: 10px 10px;
    height: 60px;
    text-align: center;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.arrow-down{
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: 6px solid;
    border-right: 6px solid;
    margin: 20px 20px 20px 40px;
    transform: rotate(135deg);
}
.arrow-down.rotate{
    transition: 0.5s;
    transform: translateY(50%) rotate(-45deg);
}
.navigation ul li a .icon img{
    object-fit: cover;
    display: flex;
    width: 60px;
    height: 100%;
} 
/* curve outside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}
/*Esto es para el menu desplegable de configuracion*/
.dropmenu{
    display: none;
}
.dropmenu.show{
    display: block;
}
/* main */
.main{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 80px);
    left: 80px;
}
.footer{
    margin-top: auto;
}
.textFooter{
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-right: 20px;
}
.textFooter a{
    font-size: 0.85em;
    text-decoration: none;
    color: var(--black2);
}
.textFooter p{
    font-size: 0.85em;
    color: var(--black2);
}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;
    display: initial;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    border: 1px solid var(--black2);
}
.search label ion-icon{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}
.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Inicio.html*/

/* Boton Checkbox */
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 5px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider_round{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f00;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.slider_round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    content:"OFF";
    font-size: 10px;
    line-height: 2.5;
}
input:checked + .slider_round {
    background-color: #8de02c;
}  
input:focus + .slider_round {
    box-shadow: 0 0 3px #8de02c;
}
input:checked + .slider_round:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    content:"ON";
}  
input:disabled + .slider_round {
    opacity: 0.6;
    background-color: #8de02c;
    pointer-events: none;
}
.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.cardBox .card{
    position: relative;
    background: var(--white);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    min-width: auto;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    grid-gap: 5px;
}
.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.0em;
    color: var(--blue);
    padding-right: 20px;
}
.cardBox .card .cardName{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}
.cardBox .card .iconBox{
    display: grid;
    position: relative;
    justify-items: center;
    text-align: center;
    color: var(--black2);
}
.cardBox .card .iconBox svg{
    vertical-align: baseline;
}
.cardBox .card:hover{
    background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox{
    color: var(--white);
}
.cardBox .card:hover .switch{
    color: var(--black1)
}
.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}
.details .recentOrders{
    position: relative;
    display: grid;
    min-height: 400px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;
    color: var(--blue);
}
.cardHeader .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead tr{
    font-weight: 600;
}
.details .recentOrders table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .recentOrders table tr:last-child{
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover{
    background: var(--blue);
    color: var(--white);
}
.details .recentOrders table tr td{
    padding: 10px;
}
.details .recentOrders table tr td:last-child{
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2){
    text-align: end;
}
.details .recentOrders table tr td:nth-child(3){
    text-align: center;
}
.status.delivered{
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.pending{
    padding: 2px 4px;
    background: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.return{
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.inprogress{
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.recentCustomers{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.recentCustomers .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.recentCustomers .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recentCustomers table tr:hover{
    background: var(--blue);
    color: var(--white);
}
.recentCustomers table tr td{
    padding: 12px 10px;
}
.recentCustomers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.recentCustomers table tr td span{
    font-size: 14px;
    color: var(--black2);
}
.recentCustomers table tr:hover{
    background: var(--blue);
    color: var(--white);
}
.recentCustomers table tr:hover td h4 span{
    color: var(--white);
}

/*Cargar.html*/
.cardFile{
    position: relative;
    width: 100%;
    padding:20px;
    display: grid;
    justify-content: center;
}
.cardFile .card{
    position: relative;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardFile .card h2{
    font-weight: 600;
    color: var(--blue);
    text-align: center;
    font-size: 2.8em;
}
.cardFile .card .imgBox{
    position: relative;
    height: 150px;
    overflow: hidden;
}
.cardFile .card .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cardFile .card .form-label{
    font-size: 1.5em;
    font-weight: 500;
    color: var(--blue);
}
.asteriskField{
    display: none;
}
#alert-box .alert-success{
    margin: 0;
    text-align: center;
    color: #ffffff;
    background-color: #198754;
    font-size: 15px;
}
#alert-box .alert-danger{
    margin: 0;
    text-align: center;
    font-size: 15px; 
}
 /* archivos.html */ 
.files{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    justify-content: center;
}
.files .recentFiles{
    position: relative;
    display: grid;
    min-height: 300px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.files table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: auto;
}
.files table thead tr{
    font-weight: 600;
}
.files .recentFiles table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.files .recentFiles table tr:last-child{
    border-bottom: none;
}
.files .recentFiles table tr td{
    padding: 10px;
    text-align: center;
    display: table-cell;
}
.files .recentFiles .cardHeaderNF{
    padding: 30px 20px;
    text-align: center;
}
.files .recentFiles .cardHeaderNF .icon{
    position: relative;
    display: block;
    min-width: 80px;
    height: 80px;
}
.files .recentFiles .cardHeaderNF .icon ion-icon{
    width: 100%;
    height: 100%;
    color: #f58080;
}
.files .recentFiles .cardHeaderNF h1{
    font-size: 2.8em;
    color: var(--grey2);
    padding: 5px 0px;
}
.files .recentFiles .cardHeaderNF h4{
    color: var(--grey2);
    opacity: 0.85;
    padding-bottom: 10px;
}
/* .files .recentFiles .cardHeaderNF .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
} */
/* edit_profile.html */
.cardProfile{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    justify-content: center;
    flex-direction: unset;   
}
.cardProfile .card{
    position: relative;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardProfile .card h2{
    font-weight: 600;
    color: var(--blue);
    text-align: center;
    font-size: 2em;
}
.cardProfile .card .form-label{
    font-weight: 500;
    color:var(--black1);
    font-size: 1.3em;
}
.imagen-perfil{
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.imagen-perfil img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    text-align: center;
    align-items: center;
}
/*password_change.html*/
.cardPassword{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    justify-content: center;
    flex-direction: unset;
}
.cardPassword .card{
    position: relative;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardPassword .card h2{
    font-weight: 600;
    color: var(--blue);
    text-align: center;
    font-size: 2em;
    padding-bottom: 30px;
}
/* .cardPassword .card form{
    padding: 20px;
} */
.cardPassword .card .form-label{
    font-weight: 500;
    color:var(--black1);
    font-size: 1.3em;
}
/* Design responsive */
@media (max-width: 991px){
    .navigation{
        left: -300px;
    }
    .navigation.active{
        width: 300px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px){
    .details{
        grid-template-columns: repeat(1, 1fr);
    }
    .recentOrders{
        overflow-x: auto;
    }
    .status.inprogress{
        white-space: nowrap;
    }
    .recentFiles{
        overflow-x: auto;
    }
}
@media (max-width:480px){
    .cardBox{
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2{
        font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle{
        z-index: 10001;
    }
    .main.active .toggle{
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
    }
    .cardFile .card h2{
        font-size: 2.4em;
    }
}
.card{
    border: none;
}