

.asteriskField{
  display: none;
}

body{
  margin: 0;
  width: 100%;
  background-color: #eff0ef;
}

html{
  -webkit-text-size-adjust: 100%;
}

#rowhome{
  margin: 0;
  width: 100%;
}

#rowcargar{
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
}

#login{
  margin: 0;
  padding-top: 5%;
}

#signup{
  margin: 0;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

a{
  text-decoration: none;
}

#container-home{
  background: url("../img/WorkSpace.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #cccccc;
  margin: 0;
  padding: 2% 5% 2% 5%;
  width: 100%;
  min-height: 100vh;
  
}

#container-home .row h1{
  margin-block-start: 0.83em;
  margin-block-start: 0.83em;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: 2px;
}

#container-home h2{
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2px;
}

#container-home p{
  color:#ffffff;
  font-size: 1.2rem;
}

img{
  opacity: 0.8;
}

.btn-outline-secondary{
  color: white;
  border-color: white;
}

footer{
  background-color: #212529;
}

footer .text-muted{
  color: white!important;
}

svg{
  color: white;
}

.alert ul li{
  list-style: none;
}

.alert ul{
  padding: 0;
  margin: 0;
}

.userIcon{
  height: 30px;
  width: 30px;
}

.keyIcon{
  height: 30px;
  width: 30px;
}

#alert-user{
  margin: 0;
  text-align: center;
  color: #ffffff;
  background-color: #198754;
  font-size: 20px;
  font-weight: bold; 
}

#success{
  margin: 0;
  padding-top: 5%;

}

.CheckCircle{
  height: 150px;
  width: 150px;
}

#change_password ul li{
  text-align:justify;
}

.resetIcon{
  height: 150px;
  width: 150px;
}

.IconEmail{
  height: 30px;
  width: 30px;
}

#reset_password{
  margin: 0;
  padding-top: 3%;
}

#reset_done li{
  list-style: none;
}

#alert-box .alert-success{
  margin: 0;
  text-align: center;
  color: #ffffff;
  background-color: #198754;
  font-size: 15px;
  
}

#alert-box .alert-danger{
  margin: 0;
  text-align: center;
  font-size: 15px;
  
}

#img-upload{
  width: 160px;
  height: 120px;
}

#archivos{
  margin: 0;
  padding: 0;
  width: 100%;
}

#colArchivos{
  border-radius: 10px;
  background-color: #ffffff;
}