.asteriskField{
  display: none;
}

body{
  margin: 0;
  width: 100%;
}

#rowhome{
  margin: 0;
  width: 100%;
}

#rowcargar{
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
}

#signup{
  margin: 0;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#container-home{
  margin: 0;
  padding:0%;
  width: 100%;
}
img{
  opacity: 0.8;
}

.btn-outline-secondary{
  color: white;
  border-color: white;
}

footer{
  background-color: #212529;
}

.text-muted{
  color: white!important;
}

svg{
  color: white;
}