
.asteriskField{
  display: none;
}

body{
  margin: 0;
  width: 100%;
}

#rowhome{
  margin: 0;
  width: 100%;
}

#rowcargar{
  margin: 0;
  width: 100%;
}


#signup{
  margin: 0;
  width: 100%;
  padding-top: 2%;
}
