{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="files">
      <div class="recentFiles">
        {% if archivos %}
        <div class="cardHeader">
          <h2>Archivos recientes</h2>
        </div>
        <table>
          <thead>
            <tr>
              <td>Tarjeta</td>
              <td>Nombre</td>
              <td>Fecha Pub.</td>
              <td>Borrar</td>
            </tr>
          </thead>
          <tbody>                
            {% for archivo in archivos %}
            <tr>
                <td>{{ archivo.tarjeta }}</td>
                <td><a href="{{archivo.archivo.url}}">{{ archivo.archivo }}</a></td>
                <td>{{ archivo.fecha }}</td>
                <td>
                    <form  method="POST" action="{% url 'borrarArchivos' archivo.pk %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div class="cardHeaderNF">
          <span class="icon"><ion-icon name="warning-outline"></ion-icon></span>
          <h1>¡Mensaje de Advertencia!</h1>
          <h4>No tiene archivos cargados.</h4>
          <a href="{% url 'cargar' %}" role="button" class="btn btn-primary">Cargar Archivo</a>
        </div>
        {% endif %}
      </div>
    </div>
{% endblock %}

