{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% load static %}


{% block content %}

<div class="cardFile">
    <div class="card">
        <div>
            <div id="alert-box"></div>
            <h2>Subir Archivos</h2>
            <div class="imgBox">
                <img src="{% static 'img/Upload.png' %}">
            </div>
            <form id = "upload-form" action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.tarjeta | as_crispy_field }}
                {{ form.archivo | as_crispy_field }}

                <div class="progress visually-hidden mb-3" id="progress-box" style="height: 20px;"></div>
                <button type="submit" class="btn btn-primary">Subir archivo</button>            
                <button type="reset" class="btn btn-danger visually-hidden ms-2" id="cancel-btn">Cancelar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

