{% extends 'dashboard.html' %}

{% load static %}}

{% block content %}
<!-- card -->
<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">1,504</div>
            <div class="cardName">Vistas diarias</div>
        </div>
        <div class="iconBox">
            <ion-icon name="eye-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">80</div>
            <div class="cardName">Ventas</div>
        </div>
        <div class="iconBox">
            <ion-icon name="cart-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">284</div>
            <div class="cardName">Comentarios</div>
        </div>
        <div class="iconBox">
            <ion-icon name="chatbubbles-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">$7,842</div>
            <div class="cardName">Ganancias</div>
        </div>
        <div class="iconBox">
            <ion-icon name="cash-outline"></ion-icon>
        </div>
    </div>
</div>
<!-- order details list -->
<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Tus tareas</h2>
            <a href="#" class="btn">View All</a>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Precio</td>
                    <td>Pago</td>
                    <td>Estado</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Refrigerador Star</td>
                    <td>$1200</td>
                    <td>Pagado</td>
                    <td><span class="status delivered">Entregado</span></td>
                </tr>
                <tr>
                    <td>Refrigerador Star</td>
                    <td>$1200</td>
                    <td>Pagado</td>
                    <td><span class="status delivered">Entregado</span></td>
                </tr>
                <tr>
                    <td>Refrigerador Star</td>
                    <td>$1200</td>
                    <td>Pagado</td>
                    <td><span class="status delivered">Entregado</span></td>
                </tr>
                <tr>
                    <td>Refrigerador Star</td>
                    <td>$1200</td>
                    <td>Pagado</td>
                    <td><span class="status pending">Pendiente</span></td>
                </tr>
                <tr>
                    <td>Refrigerador Star</td>
                    <td>$1200</td>
                    <td>Pagado</td>
                    <td><span class="status return">Devuelto</span></td>
                </tr>
                <tr>
                    <td>Refrigerador Star</td>
                    <td>$1200</td>
                    <td>Pagado</td>
                    <td><span class="status delivered">Entregado</span></td>
                </tr>
                <tr>
                    <td>Refrigerador Star</td>
                    <td>$1200</td>
                    <td>Pagado</td>
                    <td><span class="status inprogress">En progreso</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- New Customers -->
    <div class="recentCustomers">
        <div class="cardHeader">
            <h2>Usuarios recientes</h2>
        </div>
        <table>
            <tr>
                <td width="60px"><div class="imgBx"><img src="{% static 'img/User.png' %}"></div></td>
                <td><h4>David<br><span>Bogota</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="{% static 'img/User.png' %}"></div></td>
                <td><h4>Diego<br><span>Villavicencio</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="{% static 'img/User.png' %}"></div></td>
                <td><h4>Jorge<br><span>Villavicencio</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="{% static 'img/User.png' %}"></div></td>
                <td><h4>Paola<br><span>Pto Lopez</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="{% static 'img/User.png' %}"></div></td>
                <td><h4>Andres<br><span>Yopal</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="{% static 'img/User.png' %}"></div></td>
                <td><h4>Miguel<br><span>Bogota</span></h4></td>
            </tr>
        </table>
    </div>
</div>


{% endblock %}