{% extends 'dashboard.html' %}

{% load static %}

{% block content %}

<div class="device-info">
  <div class="subtitle">Parametros Ambientales</div>
  <div class="device-name" id="device-name"></div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="gauge-container">
        <div class="icon"><ion-icon name="rainy-outline"></ion-icon></div>
        <h3 class="gauge-title">Humedad</h3>
        <div id="gauge1"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="gauge-container">
        <div class="icon"><ion-icon name="thermometer-outline"></ion-icon></div>
        <h3 class="gauge-title">Temperatura</h3>
        <div id="gauge2"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="gauge-container">
        <div class="icon"><ion-icon name="water-outline"></ion-icon></div>
        <h3 class="gauge-title">Humedad de Suelo</h3>
        <div id="gauge3"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="gauge-container">
        <div class="icon"><ion-icon name="speedometer-outline"></ion-icon></div>
        <h3 class="gauge-title">Presión Barométrica</h3>
        <div id="gauge4"></div>
      </div>
    </div>
  </div>
</div>


<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.2/justgage.min.js"></script>
<script>
  const firebaseConfig = {
    apiKey: "AIzaSyAYsgKrSydjNcloTFTgMP0mnG1dyRjq4ag",
          authDomain: "test-agro-4.firebaseapp.com",
          databaseURL: "https://test-agro-4-default-rtdb.firebaseio.com/",
          projectId: "test-agro-4",
          storageBucket: "test-agro-4.appspot.com",
          messagingSenderId: "1062082669326"
  };

  // Inicializar Firebase
  firebase.initializeApp(firebaseConfig);
  
  // Obtener el ID de usuario de la URL
  const urlParams = new URLSearchParams(window.location.search);
  ///const userId = urlParams.get("userId");  
  const userId="VaMHUuehMNYdmCUX5640xq70sLv2";
  // Obtener el nombre de usuario desde Firebase y mostrarlo en la esquina superior derecha
  //const userNameElement = document.getElementById("user-name");
  const userNameElement = "Jhon Rodriguez";
  const userRef = firebase.database().ref("users/" + userId + "/name");

  userRef.once("value").then((snapshot) => {
    const userName = snapshot.val();
    userNameElement.textContent = userName;
  });

  // Obtener el nombre del dispositivo desde la URL y mostrarlo
  const deviceName = urlParams.get("deviceName");
  const deviceNameElement = document.getElementById("device-name");
  deviceNameElement.textContent = deviceName;

 // const deviceSerial = urlParams.get("deviceSerial");
 const deviceSerial="AG4-FB-003";

  // Definir arreglo de gráficas (gauges) y crear las instancias
  const gauges = [
{ id: 'gauge1', field: 'p1', min: 0, max: 100, label: '%', symbol: '%' ,decimal : 1},
{ id: 'gauge2', field: 'p2', min: 0, max: 100, label: '°C', symbol: '°C' },
{ id: 'gauge3', field: 'p3', min: 0, max: 100, label: '%', symbol: '%' },
{ id: 'gauge4', field: 'p4', min: 900, max: 1100, label: 'hPa', symbol: 'hPa'}

];

gauges.forEach(gauge => {
const gaugeElement = document.getElementById(gauge.id);

const deviceRef = firebase.database().ref("device/" + deviceSerial + "/" + gauge.field);

deviceRef.transaction((currentValue) => {
  // If the value doesn't exist or is null, set it to 0
  if (currentValue === null) {
    return 0;
  }
  // Otherwise, leave the value unchanged
  return currentValue;
}, (error, committed, snapshot) => {
  if (error) {
    console.error("Transaction failed abnormally!", error);
  } else {
    const gaugeValue = snapshot.val();
    gaugeElement.innerHTML = ''; // Clear any default content
    new JustGage({
      id: gauge.id,
      value: gaugeValue,
      min: gauge.min,
      max: gauge.max,
      title: gauge.label,
      label: gauge.symbol,
      decimal: gauge.decimal
    });
  }
});
});

function updateGauges() {
gauges.forEach(gauge => {
  const gaugeElement = document.getElementById(gauge.id);
  const deviceRef = firebase.database().ref("device/" + deviceSerial + "/" + gauge.field);

  deviceRef.once("value").then(snapshot => {
    const gaugeValue = snapshot.val() || 0;

    // Eliminar la gráfica actual
    if (gaugeElement.firstChild) {
      gaugeElement.removeChild(gaugeElement.firstChild);
    }

    // Crear una nueva instancia de la gráfica
    const newGauge = new JustGage({
      id: gauge.id,
      value: gaugeValue,
      min: gauge.min,
      max: gauge.max,
      title: gauge.label,
      label: gauge.symbol,
      decimal: gauge.decimal,
      relativeGaugeSize: true,
      levelColors: ["#FF0000", "#FFFF00", "#00FF00"],
      startAnimationTime: 1, // Configuración para evitar la animación de inicio
      refreshAnimationTime: 1, // Configuración para evitar la animación de actualización
    });

    // Agregar la nueva gráfica al contenedor
    gaugeElement.appendChild(newGauge.canvas);
  });
});
}

  // Actualizar los valores cada 5 segundos
  setInterval(updateGauges, 1000);
  // Función para ir a la página de dispositivos con el ID en la URL
  function goToDevicePage() {
    window.location.href = "dispositivos.html?userId=" + userId;
  }

  // Función para cerrar sesión y redirigir al inicio de sesión
  function logout() {
    window.location.href = "index.html";
  }
</script>

{% endblock %}
