{% extends 'base.html' %}

{% load static %}

{% block nav %}
{% endblock %}

{% block content %}

<div  id="success_reset" class="row justify-content-center">
    <div class="col-4">
        <div class="text-center mb-3 mt-5">
            <img class = "CheckCircle" src="{% static 'img/CheckCircle.png'%}" alt="" srcset="">
        </div>
        <div class="text-center mb-3">
            <h2>¡Contraseña actualizada!</h2>
        </div>
        <div class="text-center mb-3">
            <p>Su contraseña se ha actualizado correctamente</p>
        </div>
        <div class="text-center ms-lg-5 me-lg-5 mb-3">
            <a href="{% url 'home' %}" class="btn btn-primary form-control" role="button">Volver</a>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}