{% extends 'base.html'%}

{% block nav %}
{% endblock %}

{% load static %}

{% block content %}

    <div  id="success" class="row justify-content-center">
        <div class="col-4">
            <div class="text-center mb-3">
                <img class = "CheckCircle" src="{% static 'img/CheckCircle.png'%}" alt="" srcset="">
            </div>
            <div class="text-center mb-3">
                <h2>¡Contraseña cambiada!</h2>
            </div>
            <div class="text-center mb-3">
                <p>La contraseña se ha cambiado correctamente...</p>
            </div>
            <div class="text-center ms-lg-5 me-lg-5 mb-3">
                <a href="{% url 'home' %}" class="btn btn-primary form-control" role="button">Regresar</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}