{% extends 'base.html'%}

{% load crispy_forms_tags%}

{% load static %}

{% block nav %}
{% endblock %}

{% block content %}
{% if validlink %}
<div  id = "change_password" class="container-fluid">
    <div class="row justify-content-center mb-3 mt-4">
        <div class="col-4">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body">
                    <h1 align = 'center' class="mb-3">Reestablecer Contraseña</h1>
                    <form method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-block alert-danger"> 
                            <ul class="m-0"> 
                                <li>{{form.new_password2.errors}}</li> 
                            </ul> 
                        </div>
                        {% endif %}
                        <label for="id_new_password1" class="mb-2">Nueva contraseña</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-transparent">
                                <img class="keyIcon" src="{% static 'img/KeyIcon.png' %}" alt="">
                            </span>
                            {{form.new_password1}}
                        </div>
                        <small class="form-text text-muted">
                            <ul>
                                <li class="me-4">Su contraseña no debe ser muy similiar a su información personal</li>
                                <li class="me-4">Su contraseña debe contener al menos 8 caracteres</li>
                                <li class="me-4">Su contraseña no puede ser una contraseña de uso comun</li>
                                <li class="me-4">Su contraseña no puede ser completamente numérica</li>
                            </ul>
                        </small>
                        <label for="id_new_password1" class="mb-2">Confirmar contraseña</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-transparent">
                                <img class="keyIcon" src="{% static 'img/KeyIcon.png' %}" alt="">
                            </span>
                            {{form.new_password2}}
                        </div> 
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary mb-3"type="submit">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div> 
        </div>           
    </div>
</div>
{% else %}
<div class="row justify-content-center mb-3 mt-3">
    <div class="col-10">
        <h3 class="text-center">ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h3>
    </div>
</div>

{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}