{% extends 'base.html' %}

{% load static %}

{% block nav %}
{% endblock %}

{% block content %}

<div id="reset_done" class="row justify-content-center">
    <div class="col-10">
        <h2 class="mb-3 mt-4">Reestrablecimiento de contraseña enviado</h2>    
        <li class="mb-1">Te hemos enviado las instrucciones por correo electrónico para configurar tu contraseña, si existe una cuenta con el correo electrónico que ingresó, deberías recibirlo en breve.</li>
        <li class="mb-1">Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta spam.</li>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}