{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block nav %}
{% endblock %}

{% block content %}

<div id="reset_password" class="row justify-content-center mb-3">
    <div class="col-4">
        <div class="card" style="border-radius: 15px;">
            <div class="card-body">
                <div class="text-center mb-3">
                    <img class="resetIcon" src="{% static 'img/KeyIcon.png' %}" alt="">
                </div>
                <h1 class="text-center mb-3">¿Olvidaste tu contraseña?</h1>
                <p class="text-center mb-3">Puedes recuperar tu contraseña aquí </p>
                <form action='.' method="post">
                    {% csrf_token %}
                    <div class="div_id_email ms-5 me-5">
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-transparent">
                                <img class="IconEmail" src="{% static 'img/IconEmail.png' %}" alt="">
                            </span>
                            <input type="text" name="email" placeholder="Correo electronico" autofocus autocapitalize="none" autocomplete="email" maxlength="150" class="textinput textInput form-control" required="" id="id_email"> 
                        </div>                        
                        <button class="btn btn-primary form-control" type="submit">Enviar correo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}