{% extends 'dashboard.html'%}

{% load crispy_forms_tags%}

{% load static %}

{% block nav %}
{% endblock %}

<{% block content %}
<div class="cardPassword">
    <div class="card">
        <div>
            <h2>Cambiar Contraseña</h2>
            <form method="post">
                {% csrf_token %}
                {{form | crispy}}
                <div class="mb-3">
                    <small class="form-text text-muted">
                        <ul>
                            <li class="me-4">Su contraseña no debe ser muy similiar a su información personal</li>
                            <li class="me-4">Su contraseña debe contener al menos 8 caracteres</li>
                            <li class="me-4">Su contraseña no puede ser una contraseña de uso comun</li>
                            <li class="me-4">Su contraseña no puede ser completamente numérica</li>
                        </ul-->
                    </small>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary mb-3"type="submit">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}